<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>


                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li >
                                        <a href="#">Vải Gai Ap</a>
                                    </li>
                                    <li>
                                        <a href="#">Sợi Gai Ap</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Sản phẩm khác</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Showroom & events</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Tin tức</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Về gai Ap</a>
                                    </li>
                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-zalo">
                                        <img src="./img/icon-zalo.png" alt="icon-zalo.png">
                                    </a>
                                </div>
                                <div class="header-lang">
                                    <label class="label">
                                        <input type="radio" name="lang" class="f-lang" checked>
                                        <span class="t-lang pr-10">VN</span>
                                    </label>
                                    <label class="label">
                                        <input type="radio" name="lang" class="f-lang">
                                        <span class="t-lang">En</span>
                                    </label>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-r">
                            <div class="header-action">
                                <div class="header-search">
                                    <div class="search-desktop">
                                        <div class="search-title">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                        <form action="#" class="search-form">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="header-search-icon">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="header-cart">
                                    <div class="cart-btn">
                                        <img src="./img/icon-cart.png" alt="icon-cart.png">
                                    </div>
                                    <div class="cart-content">
                                        <ul class="cart-list">
                                            <li class="cart-item">
                                                <div class="cart-close">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="cart-img">
                                                    <a href="#">
                                                        <img src="./img/cart1.png" alt="cart1.png">
                                                    </a>
                                                </div>
                                                <div class="cart-info">
                                                    <h3 class="cart-title tt-16 title t-uppercase">
                                                        <a href="#">
                                                            CRÊPE PRINTED
                                                        </a>
                                                    </h3>
                                                    <p class="cart-price">
                                                        100,000đ
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="cart-item">
                                                <div class="cart-close">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="cart-img">
                                                    <a href="#">
                                                        <img src="./img/cart1.png" alt="cart1.png">
                                                    </a>
                                                </div>
                                                <div class="cart-info">
                                                    <h3 class="cart-title tt-16 title t-uppercase">
                                                        CRÊPE PRINTED
                                                    </h3>
                                                    <p class="cart-price">
                                                        100,000đ
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="cart-item">
                                                <div class="cart-close">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="cart-img">
                                                    <a href="#">
                                                        <img src="./img/cart1.png" alt="cart1.png">
                                                    </a>
                                                </div>
                                                <div class="cart-info">
                                                    <h3 class="cart-title tt-16 title t-uppercase">
                                                        CRÊPE PRINTED
                                                    </h3>
                                                    <p class="cart-price">
                                                        100,000đ
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="cart-total">
                                            <p class="total-t">Tổng tiền</p>
                                            <p class="total-n tt-18">
                                                300,000đ
                                            </p>
                                        </div>

                                        <div class="cart-pay">
                                            <a href="#" class="btn btn-black btn-link title f-bold">Thanh toán</a>
                                            <a href="#" class="btn btn-white btn-link title f-bold">Xem giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-user">
                                    <div class="user-btn">
                                        <img src="./img/icon-user.png" alt="icon-user.png">
                                    </div>
                                    <div class="user-inner">
                                        <ul class="user-list">
                                            <li class="user-item">
                                                <a href="#">Account</a>
                                            </li>
                                            <li class="user-item">
                                                <a href="#">Đăng nhập</a>
                                            </li>
                                            <li class="user-item">
                                                <a href="#">Đăng kí</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header-lang">
                                <label class="label">
                                    <input type="radio" name="lang" class="f-lang" checked>
                                    <span class="t-lang pr-10">VN</span>
                                </label>
                                <label class="label">
                                    <input type="radio" name="lang" class="f-lang">
                                    <span class="t-lang">En</span>
                                </label>
                            </div>
                            <div class="header-subjects">
                                <div class="subject-title">
                                    <P>Danh mục sản phẩm</P>
                                    <img src="./img/icon-grid.png" alt="icon-grid.png">
                                </div>

                                <div class="subject-content">
                                    <ul class="subject-list">
                                        <li class="subject-item">
                                            <a href="#">Sản phẩm 1</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Sản phẩm 2</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Sản phẩm 3</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Sản phẩm 4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="breadcrumb">
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list">
                            <a href="tintuc.htmlvv">Tin tức</a>
                        </li>
                        <li class="breadcrumb-list active">
                            <a href="tintuc.htmlvv">Ý nghĩa thú vị đằng sau những bộ cánh thời trang của Khánh Vân tại
                                MU</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="banner-page">
                <div class="container">
                    <div class="banner-wrapper">
                        <div class="banner-box">
                            <img src="./img/banner-pag2.png" alt="banner-pag2.png" class="banner-img">
                        </div>
                    </div>
                </div>
            </div>

            <div class="news-post bd-b sec-60">
                <div class="container">
                    <div class="post-wrapper">
                        <div class="columns">
                            <div class="column post-txt">
                                <div class="post-inner" data-aos="fade-right">
                                    <h3 class="post-title title tt-30 t-uppercase">
                                        Ý nghĩa thú vị đằng sau những bộ cánh thời trang của
                                        Khánh Vân tại MU
                                    </h3>
                                    <p class="post-data">
                                        25 tháng 5, 2021
                                    </p>
                                    <p class="post-label tt-24">
                                        Khánh Vân nhận được lời khen cho phong cách thời trang ấn tượng, nhiều tầng
                                        lớp
                                        ý nghĩa khi tham gia “đấu trường” nhan sắc quốc tế.
                                    </p>
                                    <div class="post-b">
                                        <div class="mona-content">
                                            <p>Stylist Trần Đạt là cái tên quen thuộc đứng sau tạo hình cho nhiều
                                                Hoa
                                                hậu hoàn vũ Việt Nam, từ các sự kiện trong nước tới thi đấu quốc tế.
                                                Lần
                                                này, anh tiếp tục đồng hành cùng Khánh Vân tại Miss Universe lần thứ
                                                69
                                                tại Mỹ.</p>
                                            <p>Anh xây dựng hình ảnh cho Khánh Vân đa sắc màu, không đóng khung
                                                trong
                                                một style nào. Mỗi trang phục đều mang câu chuyện riêng, gắn liền
                                                với
                                                đời sống cộng đồng, mang tinh thần tình hữu nghị giữa nhiều quốc gia
                                                hay
                                                trái tim nhân hậu…</p>
                                            <p>
                                                Vì thế, hình ảnh Khánh Vân từ lúc ra sân bay tới những ngày thi đấu
                                                tại
                                                Mỹ luôn nhận được sự quan tâm, chú ý lớn từ fan sắc đẹp trong nước
                                                hay
                                                quốc tế. Được biết, số trang phục mà Khánh Vân mang đi thi đấu lên
                                                tới
                                                con số 200 bộ. Các trang phục thuộc 25 nhà thiết kế và thương hiệu
                                                trong
                                                nước. Trước đó, H’Hen Niê chỉ mang 90 bộ đi thi quốc tế tại Thái
                                                Lan.
                                            </p>
                                            <p>
                                                Hơn nữa, để các thiết kế dễ dàng hơn trong lúc mặc, nhiều bộ đã được
                                                chỉnh sửa lại. Bởi lần này sang Mỹ thi đấu, Khánh Vân chỉ có một
                                                mình
                                                nên cô phải xoay sở hết mọi việc. Cô được đào tạo bài bản những kỹ
                                                năng
                                                về thi đấu, trang điểm, làm tóc hay lối ứng xử lịch thiệp với bạn bè
                                                quốc tế.
                                            </p>
                                        </div>
                                        <div class="post-img">
                                            <img src="./img/p1.png" alt="p1.png">
                                            <div class="post-p">
                                                <p>
                                                    Khánh Vân đã có thời gian tập luyện khá nhiều để sở hữu những
                                                    múi cơ săn
                                                    chắc. Vì thế, cô không quên chọn những trang phục tôn hình thể
                                                    với nhiều
                                                    kiểu dáng khác nhau.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column post-bar" >
                                <div class="post-slibar" data-aos="fade-left">
                                    <p class="post-title title tt-18 t-uppercase">
                                        Vải liên quan
                                    </p>
                                    <div class="post-content">
                                        <div class="post-b">
                                            <div class="post-img">
                                                <a href="#">
                                                    <img src="./img/s1.png" alt="s1.png">
                                                </a>
                                            </div>

                                            <div class="post-info">
                                                <a href="#" class="post-tt title tt-16">
                                                    CRÊPE PRINTED
                                                </a>
                                                <p class="post-code title tt-16">68vi 28pl</p>
                                                <p class="post-cd">F000037985</p>
                                            </div>
                                        </div>
                                        <div class="post-b">
                                            <div class="post-img">
                                                <a href="#">
                                                    <img src="./img/s2.png" alt="s2.png">
                                                </a>
                                            </div>

                                            <div class="post-info">
                                                <a href="#" class="post-tt title tt-16">
                                                    CRÊPE PRINTED
                                                </a>
                                                <p class="post-code title tt-16">68vi 28pl</p>
                                                <p class="post-cd">F000037985</p>
                                            </div>
                                        </div>
                                        <div class="post-b">
                                            <div class="post-img">
                                                <a href="#">
                                                    <img src="./img/s1.png" alt="s1.png">
                                                </a>
                                            </div>

                                            <div class="post-info">
                                                <a href="#" class="post-tt title tt-16">
                                                    CRÊPE PRINTED
                                                </a>
                                                <p class="post-code title tt-16">68vi 28pl</p>
                                                <p class="post-cd">F000037985</p>
                                            </div>
                                        </div>
                                        <div class="post-b">
                                            <div class="post-img">
                                                <a href="#">
                                                    <img src="./img/s3.png" alt="s3.png">
                                                </a>
                                            </div>

                                            <div class="post-info">
                                                <a href="#" class="post-tt title tt-16">
                                                    CRÊPE PRINTED
                                                </a>
                                                <p class="post-code title tt-16">68vi 28pl</p>
                                                <p class="post-cd">F000037985</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn w-170 btn-black title tt-16">Xem thêm sản phẩm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-post bd-b sec-30">
                <div class="container">
                    <div class="other-post-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="post-inner">
                                    <div class="post-img">
                                        <a href="#">
                                            <img src="./img/ps1.png" alt="ps1.png">
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <p class="post-label">
                                            Tin trước
                                        </p>
                                        <a href="#" class="post-title title tt-16 t-uppercase">
                                            Ý nghĩa thú vị đằng sau những bộ cánh 
                                            thời trang của Khánh Vân tại MU
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column reverse">
                                <div class="post-inner">
                                    <div class="post-img">
                                        <a href="#">
                                            <img src="./img/ps2.png" alt="ps2.png">
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <p class="post-label">
                                            Tin sau
                                        </p>
                                        <a href="#" class="post-title title tt-16 t-uppercase">
                                            Ý nghĩa thú vị đằng sau những bộ cánh 
                                            thời trang của Khánh Vân tại MU
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="news related-news sec-60">
                <div class="container">
                    <div class="news-wrapper">
                        <h3 class="news-title title tt-30 t-uppercase">
                            Event liên quan
                        </h3>
                        <div class="news-inner" id="slide-related-news">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                    <div class="news-box">
                                        <div class="news-img">
                                            <a href="#">
                                                <img src="./img/n7.png" alt="n7.png">
                                            </a>
                                        </div>
                                        <div class="news-content">
                                            <h4 class="news-tt tt-18 title t-uppercase">
                                                <a href="#">
                                                    Ý nghĩa thú vị đằng sau những bộ cánh
                                                    thời trang của Khánh Vân tại MU
                                                </a>
                                            </h4>
                                            <p class="news-date">
                                                25 tháng 5, 2021
                                            </p>
                                            <p class="news-desc tt-16">
                                                Khánh Vân nhận được lời khen cho phong cách thời trang ấn tượng, nhiều
                                                tầng
                                                lớp ý nghĩa khi tham gia “đấu trường“ nhan sắc quốc tế.
                                            </p>
                                            <a href="#" class="news-link">Xem thêm</a>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="news-box">
                                        <div class="news-img">
                                            <a href="#">
                                                <img src="./img/n8.png" alt="n8.png">
                                            </a>
                                        </div>
                                        <div class="news-content">
                                            <h4 class="news-tt tt-18 title t-uppercase">
                                                <a href="#">
                                                    Ý nghĩa thú vị đằng sau những bộ cánh
                                                    thời trang của Khánh Vân tại MU
                                                </a>
                                            </h4>
                                            <p class="news-date">
                                                25 tháng 5, 2021
                                            </p>
                                            <p class="news-desc tt-16">
                                                Khánh Vân nhận được lời khen cho phong cách thời trang ấn tượng, nhiều
                                                tầng
                                                lớp ý nghĩa khi tham gia “đấu trường“ nhan sắc quốc tế.
                                            </p>
                                            <a href="#" class="news-link">Xem thêm</a>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="news-box">
                                        <div class="news-img">
                                            <a href="#">
                                                <img src="./img/n9.png" alt="n9.png">
                                            </a>
                                        </div>
                                        <div class="news-content">
                                            <h4 class="news-tt tt-18 title t-uppercase">
                                                <a href="#">
                                                    Ý nghĩa thú vị đằng sau những bộ cánh
                                                    thời trang của Khánh Vân tại MU
                                                </a>
                                            </h4>
                                            <p class="news-date">
                                                25 tháng 5, 2021
                                            </p>
                                            <p class="news-desc tt-16">
                                                Khánh Vân nhận được lời khen cho phong cách thời trang ấn tượng, nhiều
                                                tầng
                                                lớp ý nghĩa khi tham gia “đấu trường“ nhan sắc quốc tế.
                                            </p>
                                            <a href="#" class="news-link">Xem thêm</a>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="swiper-pagination"></div>
                              </div>
                        </div>
                        <a href="#" class="btn btn-link w-170 btn-main title">Xem tất cả</a>
                    </div>
                </div>
            </section>
          

        </main>
        <footer class="footer">
            <div class="footer-top sec-60">
                <div class="container">
                    <div class="footer-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt tt-24">
                                        <a href="tel:0879808803">08 7980 8803</a>
                                    </h3>
                                    <div class="f-info">
                                        <p class="f-bold">Giờ làm việc</p>
                                        <p>Thứ hai - thứ sáu / Từ 08:00 - 16:00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt tt-24">
                                        <a href="mailto:sales@gaiap.vn">sales@gaiap.vn</a>
                                    </h3>
                                    <div class="f-info">
                                        <p class="f-bold">Giờ làm việc</p>
                                        <p>Thứ hai - thứ sáu / Từ 08:00 - 16:00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                 <div class="footer-box-socail">
                                    <div class="footer-b">
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                            Facebook
                                        </a>
                                    </div>
                                    <div class="footer-b">
                                        <a href="#">
                                            <img src="./img/icon-zalo.png" alt="icon-zalo.png">
                                            Zalo
                                        </a>
                                    </div>
                                    <div class="footer-b">
                                        <a href="#">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            Youtube
                                        </a>
                                    </div>
                                    <div class="footer-b">
                                        <a href="#">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                            Instagram
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom sec-40">
                <div class="container">
                    <div class="footer-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt w-cl tt-24">
                                        Liên lạc
                                    </h3>

                                    <ul class="f-list">
                                        <li class="f-item">
                                            <a href="#">Showroom</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Sự kiện</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Liên hệ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt w-cl tt-24">
                                        Dịch vụ
                                    </h3>

                                    <ul class="f-list">
                                        <li class="f-item">
                                            <a href="#">Đăng ký nhận vải</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Giao hàng</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Thanh toán</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Chính sách đổi trả hàng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt w-cl tt-24">
                                        Thông tin
                                    </h3>

                                    <ul class="f-list">
                                        <li class="f-item">
                                            <a href="#">FAQs</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Chính sách riêng tư</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Chính sách cookies </a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Điều khoản và Điều kiện khác</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt w-cl tt-24">
                                        Sản phẩm
                                    </h3>

                                    <ul class="f-list">
                                        <li class="f-item">
                                            <a href="#">Vải GAI AP</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Sợi GAI AP </a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">KHĂN GAI AP</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">THỜI TRANG NỮ </a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">THỜI TRANG NAM</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">SP KHÁC</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="coypright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
        <!-- scroll top 2 -->
        <!-- <div class="scroll-top-progress">
            <svg height="100%" width="100%" viewBox="-1 -1 102 102">
                <path class="animated-circle" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 60.5547;"></path>
            </svg>
        </div> -->
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>