<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>


                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li >
                                        <a href="#">Vải Gai Ap</a>
                                    </li>
                                    <li>
                                        <a href="#">Sợi Gai Ap</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Sản phẩm khác</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Showroom & events</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Tin tức</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Về gai Ap</a>
                                    </li>
                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-zalo">
                                        <img src="./img/icon-zalo.png" alt="icon-zalo.png">
                                    </a>
                                </div>
                                <div class="header-lang">
                                    <label class="label">
                                        <input type="radio" name="lang" class="f-lang" checked>
                                        <span class="t-lang pr-10">VN</span>
                                    </label>
                                    <label class="label">
                                        <input type="radio" name="lang" class="f-lang">
                                        <span class="t-lang">En</span>
                                    </label>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-r">
                            <div class="header-action">
                                <div class="header-search">
                                    <div class="search-desktop">
                                        <div class="search-title">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                        <form action="#" class="search-form">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="header-search-icon">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="header-cart">
                                    <div class="cart-btn">
                                        <img src="./img/icon-cart.png" alt="icon-cart.png">
                                    </div>
                                    <div class="cart-content">
                                        <ul class="cart-list">
                                            <li class="cart-item">
                                                <div class="cart-close">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="cart-img">
                                                    <a href="#">
                                                        <img src="./img/cart1.png" alt="cart1.png">
                                                    </a>
                                                </div>
                                                <div class="cart-info">
                                                    <h3 class="cart-title tt-16 title t-uppercase">
                                                        <a href="#">
                                                            CRÊPE PRINTED
                                                        </a>
                                                    </h3>
                                                    <p class="cart-price">
                                                        100,000đ
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="cart-item">
                                                <div class="cart-close">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="cart-img">
                                                    <a href="#">
                                                        <img src="./img/cart1.png" alt="cart1.png">
                                                    </a>
                                                </div>
                                                <div class="cart-info">
                                                    <h3 class="cart-title tt-16 title t-uppercase">
                                                        CRÊPE PRINTED
                                                    </h3>
                                                    <p class="cart-price">
                                                        100,000đ
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="cart-item">
                                                <div class="cart-close">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="cart-img">
                                                    <a href="#">
                                                        <img src="./img/cart1.png" alt="cart1.png">
                                                    </a>
                                                </div>
                                                <div class="cart-info">
                                                    <h3 class="cart-title tt-16 title t-uppercase">
                                                        CRÊPE PRINTED
                                                    </h3>
                                                    <p class="cart-price">
                                                        100,000đ
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="cart-total">
                                            <p class="total-t">Tổng tiền</p>
                                            <p class="total-n tt-18">
                                                300,000đ
                                            </p>
                                        </div>

                                        <div class="cart-pay">
                                            <a href="#" class="btn btn-black btn-link title f-bold">Thanh toán</a>
                                            <a href="#" class="btn btn-white btn-link title f-bold">Xem giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-user">
                                    <div class="user-btn">
                                        <img src="./img/icon-user.png" alt="icon-user.png">
                                    </div>
                                    <div class="user-inner">
                                        <ul class="user-list">
                                            <li class="user-item">
                                                <a href="#">Account</a>
                                            </li>
                                            <li class="user-item">
                                                <a href="#">Đăng nhập</a>
                                            </li>
                                            <li class="user-item">
                                                <a href="#">Đăng kí</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header-lang">
                                <label class="label">
                                    <input type="radio" name="lang" class="f-lang" checked>
                                    <span class="t-lang pr-10">VN</span>
                                </label>
                                <label class="label">
                                    <input type="radio" name="lang" class="f-lang">
                                    <span class="t-lang">En</span>
                                </label>
                            </div>
                            <div class="header-subjects">
                                <div class="subject-title">
                                    <P>Danh mục sản phẩm</P>
                                    <img src="./img/icon-grid.png" alt="icon-grid.png">
                                </div>

                                <div class="subject-content">
                                    <ul class="subject-list">
                                        <li class="subject-item">
                                            <a href="#">Sản phẩm 1</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Sản phẩm 2</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Sản phẩm 3</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Sản phẩm 4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banner">
                <div class="container-full">
                    <div class="banner-wrapper" id="slide-one">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="banner-inner">
                                        <img class="banner-img" src="./img/banner-lienhe.png" alt="banner-lienhe.png">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-inner">
                                        <img class="banner-img" src="./img/banner-lienhe.png" alt="banner-lienhe.png">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-inner">
                                        <img class="banner-img" src="./img/banner-lienhe.png" alt="banner-lienhe.png">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="contact bd-b sec-60">
                <div class="container">
                    <div class="contact-wrapper">
                        <div class="columns">
                            <div class="column contact-txt">
                                <div class="contact-inner">
                                    <h3 class="contact-title tt-44 title t-uppercase">
                                        liên hệ
                                    </h3>
                                    <p class="contact-desc tt-24">
                                        Nếu bạn có bất kỳ câu hỏi hoặc đề xuất nào, vui lòng đừng ngần ngại liên hệ với
                                        chúng tôi, đội ngũ bán hàng của chúng tôi là <span>rất vui được giúp bạn.</span>
                                    </p>
                                    <p class="contact-info tt-24 title t-uppercase">
                                        sales@gaiap.vn <br>
                                        08 7980 8803
                                    </p>

                                    <div class="contact-socail">
                                        <div class="contact-box">
                                            <a href="#">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                                Facebook
                                            </a>
                                        </div>
                                        <div class="contact-box">
                                            <a href="#">
                                                <img src="./img/icon-zalo.png" alt="icon-zalo.png">
                                                Zalo
                                            </a>
                                        </div>
                                        <div class="contact-box">
                                            <a href="#">
                                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                Youtube
                                            </a>
                                        </div>
                                        <div class="contact-box">
                                            <a href="#">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                                Instagram
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column contact-ig" data-aos="fade-left">
                                <div class="contact-img">
                                    <img src="./img/c1.png" alt="c1.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="showroom bd-b sec-60">
                <div class="container">
                    <div class="room-wrapper">
                        <h3 class="room-title title tt-44 t-uppercase">
                            showroom
                        </h3>
                        <div class="room-inner" id="slide-showroom">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="room-box">
                                            <div class="room-img">
                                                <a href="#">
                                                    <img src="./img/r1.png" alt="r1.png">
                                                </a>
                                            </div>
                                            <h4 href="#" class="room-tt tt-24 title t-uppercase">
                                                <a href="#">
                                                    Name showroom
                                                </a>
                                            </h4>
                                            <p class="room-location tt-16">373/226 Lý Thường Kiệt, <br>
                                                Phường 8, Tân Bình <br>
                                                +84 902 345 345</p>
                                            <a href="#" class="room-icon">
                                                <img src="./img/icon-map.png" alt="icon-map.png">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="room-box">
                                            <div class="room-img">
                                                <a href="#">
                                                    <img src="./img/r2.png" alt="r2.png">
                                                </a>
                                            </div>
                                            <h4 href="#" class="room-tt tt-24 title t-uppercase">
                                                <a href="#">
                                                    Name showroom
                                                </a>
                                            </h4>
                                            <p class="room-location tt-16">373/226 Lý Thường Kiệt, <br>
                                                Phường 8, Tân Bình <br>
                                                +84 902 345 345</p>
                                            <a href="#" class="room-icon">
                                                <img src="./img/icon-map.png" alt="icon-map.png">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="room-box">
                                            <div class="room-img">
                                                <a href="#">
                                                    <img src="./img/r3.png" alt="r3.png">
                                                </a>
                                            </div>
                                            <h4 href="#" class="room-tt tt-24 title t-uppercase">
                                                <a href="#">
                                                    Name showroom
                                                </a>
                                            </h4>
                                            <p class="room-location tt-16">373/226 Lý Thường Kiệt, <br>
                                                Phường 8, Tân Bình <br>
                                                +84 902 345 345</p>
                                            <a href="#" class="room-icon">
                                                <img src="./img/icon-map.png" alt="icon-map.png">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="room-box">
                                            <div class="room-img">
                                                <a href="#">
                                                    <img src="./img/r4.png" alt="r4.png">
                                                </a>
                                            </div>
                                            <h4 href="#" class="room-tt tt-24 title t-uppercase">
                                                <a href="#">
                                                    Name showroom
                                                </a>
                                            </h4>
                                            <p class="room-location tt-16">373/226 Lý Thường Kiệt, <br>
                                                Phường 8, Tân Bình <br>
                                                +84 902 345 345</p>
                                            <a href="#" class="room-icon">
                                                <img src="./img/icon-map.png" alt="icon-map.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="events sec-60">
                <div class="container">
                    <div class="events-wrapper">
                        <div class="events-inner" data-aos="fade-right" data-aos-offset="0">
                            <div class="events-box">
                                <h3 class="events-title title tt-44 t-uppercase">
                                    Events
                                </h3>
                                <p class="events-desc tt-16">
                                    Chúng tôi thường xuyên giới thiệu <br>
                                    chất liệu Vải Gai AP mới <br>
                                    tại các sự kiện khác nhau. <br>
                                    Truy cập để xem <br>
                                    lịch và địa điểm sự kiện cụ thể tại đây
                                </p>
                                <a href="#" class="btn w-170 btn-main title btn-events tt-16">Lịch sự kiện</a>
                            </div>
                        </div>

                        <div class="events-imgs" data-aos="fade-left" data-aos-offset="0">
                            <img src="./img/bg-event.png" alt="bg-event.png">
                        </div>
                    </div>
                </div>
            </section>


        </main>
        <footer class="footer">
            <div class="footer-bottom sec-40">
                <div class="container">
                    <div class="footer-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt w-cl tt-24">
                                        Liên lạc
                                    </h3>

                                    <ul class="f-list">
                                        <li class="f-item">
                                            <a href="#">Showroom</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Sự kiện</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Liên hệ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt w-cl tt-24">
                                        Dịch vụ
                                    </h3>

                                    <ul class="f-list">
                                        <li class="f-item">
                                            <a href="#">Đăng ký nhận vải</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Giao hàng</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Thanh toán</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Chính sách đổi trả hàng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt w-cl tt-24">
                                        Thông tin
                                    </h3>

                                    <ul class="f-list">
                                        <li class="f-item">
                                            <a href="#">FAQs</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Chính sách riêng tư</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Chính sách cookies </a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Điều khoản và Điều kiện khác</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="footer-box">
                                    <h3 class="f-tt w-cl tt-24">
                                        Sản phẩm
                                    </h3>

                                    <ul class="f-list">
                                        <li class="f-item">
                                            <a href="#">Vải GAI AP</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">Sợi GAI AP </a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">KHĂN GAI AP</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">THỜI TRANG NỮ </a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">THỜI TRANG NAM</a>
                                        </li>
                                        <li class="f-item">
                                            <a href="#">SP KHÁC</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="coypright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
        <!-- scroll top 2 -->
        <!-- <div class="scroll-top-progress">
            <svg height="100%" width="100%" viewBox="-1 -1 102 102">
                <path class="animated-circle" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 60.5547;"></path>
            </svg>
        </div> -->
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>